In [1]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
import psycopg2 as pg2
secret = 'secret'

In [6]:
conn = pg2.connect(database='dvdrental', user='postgres',password=secret)

In [7]:
cur = conn.cursor()

In [8]:
cur.execute('SELECT * FROM payment')

In [9]:
cur.fetchone()

(17503,
 341,
 2,
 1520,
 Decimal('7.99'),
 datetime.datetime(2007, 2, 15, 22, 25, 46, 996577))

In [11]:
cur.fetchmany(100)

[(17514,
  343,
  2,
  1879,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 17, 1, 26, 0, 996577)),
 (17515,
  343,
  2,
  1922,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 17, 4, 32, 51, 996577)),
 (17516,
  343,
  2,
  2461,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 18, 18, 26, 38, 996577)),
 (17517,
  343,
  1,
  2980,
  Decimal('8.99'),
  datetime.datetime(2007, 2, 20, 7, 3, 29, 996577)),
 (17518,
  343,
  1,
  3407,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 21, 14, 42, 28, 996577)),
 (17519,
  344,
  1,
  1341,
  Decimal('3.99'),
  datetime.datetime(2007, 2, 15, 10, 54, 44, 996577)),
 (17520,
  344,
  2,
  1475,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 15, 19, 36, 27, 996577)),
 (17521,
  344,
  1,
  1731,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 16, 14, 0, 38, 996577)),
 (17522,
  345,
  2,
  1210,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 15, 1, 26, 17, 996577)),
 (17523,
  345,
  1,
  1457,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 15, 18, 34, 15, 996577)),
 (17524,
  345,
  2,
  1550,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 16, 0, 27, 1, 996577)),
 (17525,
  345,
  2,
  2766,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 19, 16, 13, 41, 996577)),
 (17526,
  346,
  1,
  1994,
  Decimal('5.99'),
  datetime.datetime(2007, 2, 17, 9, 35, 32, 996577)),
 (17527,
  346,
  2,
  3372,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 21, 12, 2, 45, 996577)),
 (17528,
  346,
  1,
  3421,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 21, 15, 51, 24, 996577)),
 (17529,
  347,
  2,
  1711,
  Decimal('8.99'),
  datetime.datetime(2007, 2, 16, 12, 40, 18, 996577)),
 (17530,
  347,
  2,
  2274,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 18, 4, 59, 41, 996577)),
 (17531,
  347,
  1,
  3026,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 20, 10, 16, 26, 996577)),
 (17532,
  347,
  1,
  3092,
  Decimal('8.99'),
  datetime.datetime(2007, 2, 20, 14, 33, 8, 996577)),
 (17533,
  347,
  1,
  3326,
  Decimal('7.99'),
  datetime.datetime(2007, 2, 21, 7, 33, 16, 996577)),
 (17534,
  348,
  1,
  1654,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 16, 8, 11, 14, 996577)),
 (17535,
  348,
  1,
  2041,
  Decimal('8.99'),
  datetime.datetime(2007, 2, 17, 12, 47, 26, 996577)),
 (17536,
  348,
  2,
  2499,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 18, 21, 30, 2, 996577)),
 (17537,
  349,
  1,
  1197,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 15, 0, 11, 12, 996577)),
 (17538,
  349,
  1,
  1523,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 15, 22, 47, 6, 996577)),
 (17539,
  349,
  2,
  2987,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 20, 7, 24, 16, 996577)),
 (17540,
  349,
  1,
  3067,
  Decimal('8.99'),
  datetime.datetime(2007, 2, 20, 12, 27, 47, 996577)),
 (17541,
  350,
  2,
  2011,
  Decimal('3.99'),
  datetime.datetime(2007, 2, 17, 10, 24, 35, 996577)),
 (17542,
  350,
  1,
  2619,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 19, 6, 31, 38, 996577)),
 (17543,
  350,
  1,
  3079,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 20, 13, 42, 6, 996577)),
 (17544,
  350,
  2,
  3206,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 20, 23, 8, 5, 996577)),
 (17545,
  351,
  2,
  1792,
  Decimal('5.99'),
  datetime.datetime(2007, 2, 16, 18, 33, 16, 996577)),
 (17546,
  351,
  1,
  1869,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 17, 0, 36, 26, 996577)),
 (17547,
  351,
  1,
  2759,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 19, 15, 38, 50, 996577)),
 (17548,
  352,
  1,
  1498,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 15, 20, 26, 26, 996577)),
 (17549,
  352,
  1,
  1649,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 16, 7, 48, 59, 996577)),
 (17550,
  352,
  1,
  1678,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 16, 9, 36, 54, 996577)),
 (17551,
  352,
  1,
  1780,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 16, 17, 40, 11, 996577)),
 (17552,
  352,
  2,
  3331,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 21, 8, 6, 19, 996577)),
 (17553,
  353,
  2,
  1359,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 15, 11, 58, 56, 996577)),
 (17554,
  353,
  2,
  1928,
  Decimal('7.99'),
  datetime.datetime(2007, 2, 17, 5, 16, 57, 996577)),
 (17555,
  353,
  2,
  3233,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 21, 1, 7, 57, 996577)),
 (17556,
  354,
  1,
  1491,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 15, 20, 16, 44, 996577)),
 (17557,
  354,
  1,
  2275,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 18, 4, 59, 55, 996577)),
 (17558,
  354,
  1,
  2769,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 19, 16, 20, 40, 996577)),
 (17559,
  354,
  1,
  3139,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 20, 18, 13, 11, 996577)),
 (17560,
  355,
  2,
  1488,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 15, 20, 8, 20, 996577)),
 (17561,
  355,
  1,
  1612,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 16, 5, 20, 31, 996577)),
 (17562,
  356,
  1,
  1410,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 15, 15, 28, 12, 996577)),
 (17563,
  356,
  1,
  2405,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 18, 15, 5, 4, 996577)),
 (17564,
  356,
  1,
  2433,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 18, 16, 38, 43, 996577)),
 (17565,
  357,
  2,
  1246,
  Decimal('5.99'),
  datetime.datetime(2007, 2, 15, 3, 39, 45, 996577)),
 (17566,
  357,
  1,
  1788,
  Decimal('1.99'),
  datetime.datetime(2007, 2, 16, 18, 15, 44, 996577)),
 (17567,
  357,
  2,
  1971,
  Decimal('1.99'),
  datetime.datetime(2007, 2, 17, 7, 52, 25, 996577)),
 (17568,
  357,
  2,
  2153,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 17, 21, 26, 30, 996577)),
 (17569,
  358,
  1,
  1455,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 15, 18, 19, 32, 996577)),
 (17570,
  358,
  2,
  1908,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 17, 3, 39, 2, 996577)),
 (17571,
  358,
  1,
  2114,
  Decimal('5.99'),
  datetime.datetime(2007, 2, 17, 18, 28, 51, 996577)),
 (17572,
  358,
  1,
  2721,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 19, 13, 21, 50, 996577)),
 (17573,
  358,
  1,
  2749,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 19, 14, 56, 1, 996577)),
 (17574,
  358,
  1,
  3245,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 21, 1, 34, 37, 996577)),
 (17575,
  359,
  2,
  1329,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 15, 9, 53, 32, 996577)),
 (17576,
  359,
  2,
  1770,
  Decimal('1.99'),
  datetime.datetime(2007, 2, 16, 16, 36, 21, 996577)),
 (17577,
  359,
  1,
  2401,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 18, 14, 50, 29, 996577)),
 (17578,
  359,
  1,
  2736,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 19, 14, 11, 46, 996577)),
 (17579,
  360,
  2,
  1492,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 15, 20, 17, 1, 996577)),
 (17580,
  360,
  2,
  2402,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 18, 14, 53, 11, 996577)),
 (17581,
  360,
  2,
  2541,
  Decimal('3.99'),
  datetime.datetime(2007, 2, 19, 0, 36, 36, 996577)),
 (17582,
  360,
  2,
  2780,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 19, 16, 47, 59, 996577)),
 (17583,
  361,
  2,
  2353,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 18, 11, 21, 51, 996577)),
 (17584,
  361,
  2,
  2558,
  Decimal('1.99'),
  datetime.datetime(2007, 2, 19, 1, 37, 42, 996577)),
 (17585,
  361,
  1,
  2851,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 19, 21, 35, 29, 996577)),
 (17586,
  361,
  2,
  3303,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 21, 6, 2, 40, 996577)),
 (17587,
  362,
  1,
  1429,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 15, 16, 52, 36, 996577)),
 (17588,
  362,
  1,
  1529,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 15, 23, 6, 1, 996577)),
 (17589,
  362,
  1,
  1615,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 16, 5, 28, 54, 996577)),
 (17590,
  362,
  2,
  3197,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 20, 22, 35, 49, 996577)),
 (17591,
  362,
  2,
  3393,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 21, 13, 42, 53, 996577)),
 (17592,
  363,
  2,
  1426,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 15, 16, 44, 50, 996577)),
 (17593,
  363,
  2,
  1569,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 16, 1, 47, 35, 996577)),
 (17594,
  363,
  1,
  1847,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 16, 22, 33, 48, 996577)),
 (17595,
  363,
  1,
  2540,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 19, 0, 33, 14, 996577)),
 (17596,
  363,
  2,
  3281,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 21, 4, 37, 13, 996577)),
 (17597,
  364,
  1,
  1722,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 16, 13, 41, 18, 996577)),
 (17598,
  364,
  2,
  2442,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 18, 17, 17, 44, 996577)),
 (17599,
  364,
  2,
  2606,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 19, 5, 19, 58, 996577)),
 (17600,
  364,
  2,
  2857,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 19, 21, 43, 41, 996577)),
 (17601,
  364,
  2,
  2962,
  Decimal('3.99'),
  datetime.datetime(2007, 2, 20, 6, 0, 21, 996577)),
 (17602,
  365,
  1,
  1303,
  Decimal('1.99'),
  datetime.datetime(2007, 2, 15, 8, 24, 23, 996577)),
 (17603,
  365,
  1,
  1578,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 16, 2, 36, 42, 996577)),
 (17604,
  365,
  1,
  1983,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 17, 8, 50, 39, 996577)),
 (17605,
  365,
  1,
  2525,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 18, 23, 16, 48, 996577)),
 (17606,
  365,
  2,
  3156,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 20, 19, 32, 12, 996577)),
 (17607,
  366,
  2,
  1401,
  Decimal('1.99'),
  datetime.datetime(2007, 2, 15, 14, 58, 48, 996577)),
 (17608,
  366,
  2,
  2214,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 18, 1, 13, 3, 996577)),
 (17609,
  367,
  1,
  3078,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 20, 13, 38, 14, 996577)),
 (17610,
  368,
  1,
  1186,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 14, 23, 25, 11, 996577)),
 (17611,
  368,
  1,
  1513,
  Decimal('9.99'),
  datetime.datetime(2007, 2, 15, 21, 21, 56, 996577)),
 (17612,
  368,
  1,
  2531,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 18, 23, 49, 15, 996577)),
 (17613,
  368,
  1,
  2694,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 19, 11, 45, 47, 996577))]

In [12]:
data = cur.fetchmany(10)

In [13]:
data

[(17614,
  368,
  1,
  2744,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 19, 14, 49, 6, 996577)),
 (17615,
  368,
  2,
  3275,
  Decimal('4.99'),
  datetime.datetime(2007, 2, 21, 4, 1, 30, 996577)),
 (17616,
  369,
  1,
  1224,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 15, 2, 12, 51, 996577)),
 (17617,
  370,
  2,
  1190,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 14, 23, 33, 58, 996577)),
 (17618,
  371,
  2,
  1212,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 15, 1, 31, 59, 996577)),
 (17619,
  371,
  1,
  1218,
  Decimal('1.99'),
  datetime.datetime(2007, 2, 15, 1, 53, 10, 996577)),
 (17620,
  371,
  1,
  1573,
  Decimal('6.99'),
  datetime.datetime(2007, 2, 16, 2, 0, 5, 996577)),
 (17621,
  371,
  2,
  1675,
  Decimal('5.99'),
  datetime.datetime(2007, 2, 16, 9, 33, 13, 996577)),
 (17622,
  371,
  2,
  2837,
  Decimal('0.99'),
  datetime.datetime(2007, 2, 19, 20, 32, 16, 996577)),
 (17623,
  371,
  1,
  3176,
  Decimal('3.99'),
  datetime.datetime(2007, 2, 20, 21, 0, 20, 996577))]

In [14]:
data[0][4]

Decimal('4.99')

In [15]:
#Inserting new data
query1 = '''
        CREATE TABLE new_table (
            userid integer
            , tmstmp timestamp
            , type varchar(10)
        );
        '''

In [16]:
table = cur.execute(query1)

In [17]:
table